<div class="w-container container">
  <div class="header header-htp">
    <div class="logo logo-htp">
      <img class="logo logo-htp" src="images/kohls_logo_good4.jpg" width="227" alt="kohls_logo_good4.jpg">
    </div>
    <div>
      <h3 class="h3-htp">How to Play:</h3>
      <p class="p-htp">We send you a featured product to find.
        <br>
        <br>Track it down and enter the product code, as shown below:<br>
        <img style="margin-top:10px;margin-bottom:-5px" src="images/upc_edited.png" height="60">
        <br>
        <br>Find it within two minutes and receive a special discount!
        <br>
        <br>Play 10 times and win 250 Kohl's Rewards Points!</p>
      <div class="login login-htp"><a class="button button-htp" ng-click="play()">Play</a>
      </div>
    </div>
  </div>
</div>
