<script id="howToPlay_template" type="text/x-handlebars-template">
  <p>How to Play:</p>
  <ul>
    <li>We give you the name of a product.</li>
    <li>Track it down and type in the UPC code: <img src="UPC_ex.jpg"></li>
    <li>Find it within two minutes to get a special deal!</li>
    <li>Compete against players around the country!</li>
  </ul>
  <button>Got it!</button>
</script>