<script id="hunt_template" type="text/x-handlebars-template">
  <p>{{target}}</p>
  <img src='{{img_link}}'>

  <p>Time left:</p>
  <p>{{time}}</p>

  <input type='text' placeholder="Enter product code here..."/>
  <button>Found it!</button>
</script>
