<!-- <img src="logo_big.jpg">
<p>Scavenger Hunt</p>

<button ng-click="login()">Log in with Facebook!</button> -->

<div class="w-container container">
    <div class="w-clearfix header">
      <div class="w-clearfix logo">
        <img class="logo" src="images/kohls_logo_good4.jpg" width="227" alt="kohls_logo_good4.jpg">
      </div>
      <h1>Rewardster</h1>
      <div>
        <div class="login"><a class="button" ng-click="login()">Log in with Facebook</a>
        </div>
      </div>
    </div>
  </div>