<!-- <img src="logo_big.jpg">
<p>Scavenger Hunt</p>

<button ng-click="login()">Log in with Facebook!</button> -->

<div class="w-container container">
    <div class="w-clearfix header">
      <div class="w-clearfix logo">
        <img class="logo" src="images/kohls_logo_good4.jpg" width="227" alt="kohls_logo_good4.jpg">
      </div>
      <h1>Kohl's Rewards Scavenger Hunt</h1>
      <h4 style="position:relative; top:25px;"><em>Earn savings for finding items in the store!</em></h4>
      <div>
        <div class="login"><a class="button" ng-click="login()" style="background-color: #3b5998">Log in with Facebook</a>
        </div>
      </div>
    </div>
  </div>